{% extends 'base.html.twig' %}

{% block title %}Liste des éditeurs{% endblock %}

{% block body %}
    <h1>Liste des éditeurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Pays</th>
                <th>SiteWeb</th>
                <th>Description</th>
                <th>Créé le</th>
                <th>Modifié le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for editeur in editeurs %}
            <tr>
                <td>{{ editeur.id }}</td>
                <td>{{ editeur.nom }}</td>
                <td>{{ editeur.pays }}</td>
                <td>{{ editeur.siteWeb }}</td>
                <td>{{ editeur.description }}</td>
                <td>{{ editeur.createdAt ? editeur.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ editeur.updatedAt ? editeur.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_editeur_show', {'id': editeur.id}) }}">Consulter</a>
                    <a href="{{ path('app_editeur_edit', {'id': editeur.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_editeur_new') }}">Créer un nouvel éditeur</a>
{% endblock %}
